{% extends 'mailing/base.html' %}


{% block content %}
    <h1>Mailing project</h1>
    <br> # это наброски того, что будет на главной
    <br>
    количество рассылок всего,
    количество активных рассылок,
    количество уникальных клиентов для рассылок,
    3 случайные статьи из блога.

    <br>
    # эту таблицу вставлю в другой шаблон, где будут все рассылки
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">first name</th>
      <th scope="col">last name</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

    # для 3 случайных статей из будущего блога
{#    def get(self, request, *args, **kwargs):#}
{#        """Метод GET для главной страницы"""#}
{#        context = {}#}
{#        available_products = Vlog.objects.filter(available=True)#}
{#        # random_posts = random.sample(list(available_posts), min(3, len(available_posts)))#}
{#        random_posts = Vlog.objects.filter(available=True).order_by('?')[:3]#}
{#        context['title'] = 'Главная страница'#}

{% endblock %}
