{% load static %}
<!--карточка клиента-->
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">Имя:{{ object.first_name }} {{ object.last_name }}</p>
            <p class="card-text">Почта: {{ object.email }}</p>
            <p class="card-text">Комментарий: {{ object.comment }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'mailing:client_detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="{% url 'mailing:client_edit' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{% url 'mailing:client_delete' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                </div>
                {#                <small class="text-body-secondary">9 mins</small>#}
            </div>
        </div>
    </div>
</div>
